@model IEnumerable<DalIntern.Models.CompanyModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="margin-top:20px">
    <div class="col-md-12" style="text-align:-webkit-center">
        @using (Html.BeginForm("Index", "Explore", FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
        {
            <div class="form-group">
                <input type="text" name="searchstring" id="searchstring" class="form-control" style="display:inline;">
                <button type="submit" class="btn btn-md glyphicon glyphicon-search form-control-feedback" style="display:inline;margin-left:-47px;background:none;"></button>
            </div>
        }

    </div>
</div>

<div class="row">
    <div class="pull-right">
        <button data-toggle="modal" data-target="#companyModel" class="btn btn-primary btn-md">Add a Company Review</button>
    </div>
</div>

<div class="container">
    <div class="row">
        <h2>Companies</h2>
        @{ var counter = 0;
            if (Model != null)
            {
                foreach (var item in Model)
                {

                    <a href="@Url.Action("Index","Company",new { id = item.id})" class="col-sm-6 col-md-3" style="margin-top:10px;margin-bottom:10px;cursor: pointer;">

                        <div class="container company-item">
                            <img src="~/Images/@item.companyimage" alt="Company" style="max-width:200px;max-height:200px;">
                            <div class="content">
                                <h3>@Html.DisplayFor(modelItem => item.companyname)</h3>                                
                            </div>
                        </div>

                        @if (counter % 2 != 0)
                        {<div class="clearfix visible-md"></div>}

                    </a>
                    counter++;
                }
            }
        }
    </div>
</div>
@{
    Html.RenderPartial("AddCompanyReview");
}

@section Scripts{

    @Scripts.Render("~/Scripts/Explore.js")
    @Scripts.Render("~/Scripts/star-rating.js")

}