@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<div>
    <h1>Members and Contributors</h1>

    <hr />

    <div class="row">
        <div class="col-md-3">

            <div class="card">
                <img src="~/Images/DalInternCircleLogo.JPG" alt="John" style="width:100%">
                <h1> Nirav</h1>
                <div class="title">B00789139</div>
                <div>Dalhousie University</div>
                <div style="margin: 24px 0;">
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                </div>
                <p><button href="mailto:nirav.jadeja@dal.ca">Contact</button></p>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <img src="~/Images/DalInternCircleLogo.JPG" alt="John" style="width:100%">
                <h1> Rahul</h1>
                <div class="title">B00766975</div>
                <div>Dalhousie University</div>
                <div style="margin: 24px 0;">
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                </div>
                <p><button onclick='location.href = "mailto:rh951192@dal.ca"'>Contact</button></p>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <img src="~/Images/DalInternCircleLogo.JPG" alt="John" style="width:100%">
                <h1>Anudeep</h1>
                <div class="title">B00780285</div>
                <div>Dalhousie University</div>
                <div style="margin: 24px 0;">
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                </div>
                <p><button onclick='location.href = "mailto:ab3@dal.ca"'>Contact</button></p>
            </div>

        </div>
        <div class="col-md-2">
            <div class="card">
                <img src="~/Images/DalInternCircleLogo.JPG" alt="John" style="width:100%">
                <h1>Nishanth</h1>
                <div class="title">B00755270</div>
                <div>Dalhousie University</div>
                <div style="margin: 24px 0;">
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                </div>
                <p><button onclick='location.href="mailto:ns256403@dal.ca"'>Contact</button></p>
            </div>
        </div>
        <div class="col-md-3">

            <div class="card">
                <img src="~/Images/DalInternCircleLogo.JPG" alt="John" style="width:100%">
                <h1>Mathew</h1>
                <div class="title">B00465892</div>
                <div>Dalhousie University</div>
                <div style="margin: 24px 0;">
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                </div>
                <p><button onclick='location.href = "mailto:Matt.zimola@dal.ca"'>Contact</button></p>
            </div>

        </div>
    </div>

</div>

<style>
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 300px;
        margin: auto;
        text-align: center;
        font-family: arial;
    }

    .title {
        color: grey;
        font-size: 18px;
    }

    button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
    }

    a {
        text-decoration: none;
        font-size: 22px;
        color: black;
    }

        button:hover, a:hover {
            opacity: 0.7;
        }
</style>