@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Ohhhh......</h1>
<h2 class="text-danger">We didn't see that coming. </h2>
<h3>Errors logged and the Administrator is notified about this problem.</h3>

